@page "/OrderCompleted"
@inject IToastService toastService


<article class="container">
	<div class="body">
		<div class="Header">
			<h3 class="Heading">Your request has been received.</h3>
		</div>
	</div>
</article>

@code {
	protected override async Task OnInitializedAsync()
	{
		toastService.ShowInfo("Purchased successfully");
		await Task.Delay(5000);
		NavigationManager.NavigateTo("myOrder");
	}
}