@page "/About"

<ForAnother />

<article class="container">
	<div class="body">
		<div class="wrapper">
			<div class="hr">
				<hr>
				<h2>EKSIKYOKFAZLAVAR STORE</h2>
				<hr>
			</div>

			<p class="mission-txt">"To provide good goods at low cost"</p>

		</div>

		<div class="wrapper">
			<h2>About</h2>
			<div>
				<img src="/images/teaching.png" alt="img">
				<p>
					E-commerce is a new term in the world of economics that emerged with the spread of the Internet in the early nineties of the twentieth century, but some researchers have pointed to its existence since the seventies of the last century through electronic information exchange systems between industrial companies. Advantages of e-commerce.

				</p>
				<p>
					E-commerce is a new term in the world of economics that emerged with the spread of the Internet in the early nineties of the twentieth century, but some researchers have pointed to its existence since the seventies of the last century through electronic information exchange systems between industrial companies. Advantages of e-commerce.
				</p>

			</div>
		</div>

		<div class="wrapper">
			<h2>Faculties</h2>
			<div class="faculties">
				<div class="unit">
					<img src="/images/person_1.jpg" alt="">
					<p>Ahmad Alrawi, Programmer</p>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus unde aliquid laborum voluptatum distinctio nobis?'</p>

				</div>
				<div class="unit">
					<img src="/images/person_1.jpg" alt="">
					<p>Ahmad Alrawi, Programmer</p>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus unde aliquid laborum voluptatum distinctio nobis?'</p>
				</div>
				<div class="unit">
					<img src="/images/person_1.jpg" alt="">
					<p>Ahmad Alrawi, Programmer</p>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus unde aliquid laborum voluptatum distinctio nobis?'</p>

				</div>
				<div class="unit">
					<img src="/images/person_1.jpg" alt="">
					<p>Ahmad Alrawi, Programmer</p>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus unde aliquid laborum voluptatum distinctio nobis?'</p>
				</div>
				<div class="unit">
					<img src="/images/person_1.jpg" alt="">
					<p>Ahmad Alrawi, Programmer</p>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus unde aliquid laborum voluptatum distinctio nobis?'</p>
				</div>
			</div>
		</div>
	</div>

</article>
@code {

}
