<section class="hero-wrap hero-wrap-2" style="height:150px !important; background-image: url('images/12.jpg');" data-stellar-background-ratio="0.5">
	<div class="overlay" style="height:150px;"></div>
	<div class="container" style="height:150px;">

	</div>
</section>